<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="../css/2ndstyle.css">    
</head>    
<body>    
       
    <div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">WELCOME to DISEASE DETECTOR</h2>
      <h4 class="animation a2">Select all the symptoms you have and diagonise your disease based on your symptoms</h4>
    </div>
    <div class="form">
      
       <button class="animation a6" > <a href = "select-details.html"></a>DIAGONISE</button> 
    
    </div>
  </div>
  <div class="right"></div>
</div>
</body>    
</html>     
